@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   
}
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="promo-title">Thiên đường dành cho các tín đồ Công nghệ</p>
                <p>Giá tốt nhất Việt Nam. Với những khuyến mãi và rất nhiều phần quá hấp dẫn !!</p>
                <a href="#">
                    <img src="~/Content/filehinh/playbtn.png" class="play-btn" />Watch Tutorials</a>
            </div>
            <div class="col-md-6 text-center">
                <img src="~/Content/filehinh/bg.PNG" class="img-fluid" />
            </div>
        </div>
    </div>
    <img src="~/Content/filehinh/wave4.png" class="bottom-img" />
</section>
<section id="services">
    <div class="container text-center">
        <h1 class="title">WHAT WE DO ?</h1>
        <div class="row text-center">
            <div class="col-md-4 services">
                <img src="~/Content/filehinh/chatlgsp.png" class="service-img" />
                <h4>Chất lượng Sản phẩm</h4>
                <p>Sản phẩm đạt chất lượng tốt, được nhiều khách hàng tin dùng. Hãy đến với chúng tôi bạn sẽ có những trải nghiệm tuyệt vời nhất!</p>
            </div>
            <div class="col-md-4 services">
                <img src="~/Content/filehinh/chat.png" class="service-img" />
                <h4>Hỗ trợ</h4>
                <p>Đội ngũ hỗ trợ, tư vấn viên Online sẽ giúp đỡ bạn giải đáp những thắc mắc 24/7.</p>
            </div>
            <div class="col-md-4 services">
                <img src="~/Content/filehinh/news.png" class="service-img" />
                <h4>Tin Tức</h4>
                <p>Những tin tức nóng hỏi về Công nghệ sẽ được cập nhật liên tục hàng ngày.Bạn sẽ không bao giờ bị công nghệ bỏ xa vì đã có chúng tôi ở đây !!!</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary">Dịch vụ khác</button>
    </div>
</section>
<section id="About-us">
    <div class="container">
        <h1 class="title text-center">WHY CHOOSE US ?</h1>
        <div class="row">
            <div class="col-md-6 About-us">
                <p class="about-title">Tại sao chúng tôi khác biệt</p>
                <ul>
                    <li>Chúng tôi có những dịch vụ tốt nhất</li>
                    <li>Nơi thỏa mãn đam mê công nghệ của bạn</li>
                    <li>Giá cả không còn là vấn đề của bạn với những hỗ trợ từ cửa hàng</li>
                    <li>Khuyến mãi ngập tràng, tưng bừng đập hộp</li>
                    <li>Hãy đăng ký thành viên để nhận được những ưu đãi hấp dẫn</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="~/Content/filehinh/bg2.png" class="img-fluid" style="width:100%" />
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <h1 class="title text-center">CONTACT WITH US</h1>
        <div class="row offset-1">
            <div class="col-md-4 contact">
                <p>Mọi thắc mắc của bạn sẽ được chúng tôi giải đáp. Hãy liên hệ với chúng tôi!</p>
                <img src="~/Content/filehinh/avt1.jpg" />
                <p class="user-details"><b>LÊ NGUYỄN LONG QUỐC AN</b><br />2001181003</p>
            </div>
            <div class="col-md-4 contact">
                <p>Mọi thắc mắc của bạn sẽ được chúng tôi giải đáp. Hãy liên hệ với chúng tôi!</p>
                <img src="~/Content/filehinh/avt2.jpg" />
                <p class="user-details"><b>MAI QUỐC ĐẠT</b><br />2001180432</p>
            </div>
            <div class="col-md-4 contact">
                <p>Mọi thắc mắc của bạn sẽ được chúng tôi giải đáp. Hãy liên hệ với chúng tôi!</p>
                <img src="~/Content/filehinh/avt3.png" />
                <p class="user-details"><b>HOÀNG MINH NHẬT</b><br />2001181240</p>
            </div>
        </div>
    </div>
</section>
<section id="social-media">
        <div class="container text-center">
            <p>FIND US ON SOCIAL MEDIA</p>
            <div class="social-icons">
                <a href="#"><img src="~/Content/filehinh/fb.png" /></a>
                <a href="#"><img src="~/Content/filehinh/gmail.png" /></a>
                <a href="#"><img src="~/Content/filehinh/insta.png" /></a>
                <a href="#"><img src="~/Content/filehinh/phone.png" /></a>
                <a href="#"><img src="~/Content/filehinh/pin.png" /></a>
                <a href="#"><img src="~/Content/filehinh/zalo.png" /></a>
            </div>
        </div>
    </section>
